@using BasketBet.EntityFramework.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var currentUser = await userManager.GetUserAsync(User);
}

<div class="nav-button">
    @if (signInManager.IsSignedIn(User))
    {
        var lastClaimTime = currentUser.LastPointsClaimTime; 
        var currentTime = DateTime.Now;
        var hoursSinceLastClaim = (currentTime - lastClaimTime).TotalHours;

        if (hoursSinceLastClaim >= 3) 
        {
            <button class="btn signinButton m-0 p-0" onclick="claimPoints()">Collect Points</button>
        }
        <p class="btn m-0">Points: @(currentUser != null ? currentUser.Points.ToString() : "0")</p> 
        <a asp-controller="Account" asp-action="LogOut" class="btn signinButton">Log Out</a>
    }

    else
    {
        <a asp-controller="Account" asp-action="Login" class="btn signinButton">Sign In</a>
        <a asp-controller="Account" asp-action="Register" class="btn">Sign Up</a>
    }
</div>
