/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("https://wallpapers.com/images/hd/black-and-white-stephen-curry-6l2aa9pcyib4apeu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
.container {
    width: 100%;
    margin-top: 100px;
    min-height: 90vh;
    
}

main {
    margin: 0px 30px;
}
.mt-13{
    margin-top: 130px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.navbar-scrolled {
    background-color: #2b2b2b;
    transition: background-color 0.3s ease;
}
.nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

    .nav-menu ul li {
        list-style-type: none;
    }

        .nav-menu ul li .link {
            text-decoration: none;
            font-weight: 500;
            color: #fff;
            padding-bottom: 15px;
            margin: 0 25px;
        }

.link:hover, .active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    
}
.btn {
    color: black;
    padding-top:8px;
}


.btn:hover {
    background: rgba(255, 255, 255, 0.3);
    color: black;
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    opacity:100%;
    background: #1D428A;
    width: 220px;
}
.btn.signinButton {
    opacity: 100%;
    background: #1D428A;
}

.white-btn span {
    font-weight: 600;
    font-size: 20px;
}

.white-btn p {
    font-size: 15px;
    margin: 0;
}

.btn.btn.white-btn:hover {
    background: #2b5099;
}
.btn.white-btn.active {
    background-color: darkorange;
}
.btn.white-btn.active:hover {
    background-color: orange;
}
.nav-menu-btn {
    display: none;
}

.header-log-reg{
    font-size:80px;
    font-weight: 600;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:700px;
    width: 512px;
    overflow: hidden;
    z-index: 2;
    margin:auto;
}

.login-container {
    position: absolute;
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}



.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

    .top span a {
        font-weight: 500;
        color: #fff;
        margin-left: 5px;
    }

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}



.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 70px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}
.input-box {
    margin: 10px;
}
.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
    
}
.color-blue {
    color: #1D428A;
}
.color-orange {
    color: darkorange;
}
.color-green {
    color: green;
}
.color-red {
    color: red;
}
.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: #1D428A;
    cursor: pointer;
    transition: .3s ease-in-out;
}

    .submit:hover {
        opacity: 80%;
        box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    }

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

    .two-col .one {
        display: flex;
        gap: 5px;
    }

.two label a {
    text-decoration: none;
    color: #fff;
}

    .two label a:hover {
        text-decoration: underline;
    }


.container-wrapper {
    margin: 130px 5% 70px 5%;
    display: flex;
    justify-content: center;
    gap: 1%;
}
.standings-wrapper{
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.container-white {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 15px;
    border-radius: 15px;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-white-schedule {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 15px;
    border-radius: 15px;
    flex: 1;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.user-pos-container {
    background-color: #1D428A;
    border-radius: 15px;
    padding: 15px 15px;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 15%;
    margin-bottom: 20px;
    justify-content: center;
    
}
.user-pos-container span {
    font-weight: bolder;
}

@media screen and (min-width: 1400px) {
    .container-white-schedule {
        width: 1000px;
    }
}
.summary-container-blue {
    top: 130px;
    max-height: calc(100vh - 200px);
    background-color: rgba(43, 80, 153, 0.9);
    border-radius: 15px;
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container-blue {
    position: sticky;
    top: 130px;
    height: calc(100vh - 200px);
    background-color: rgba(43, 80, 153, 0.9);
    border-radius: 15px;
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: inherit;
    padding: 10px 40px;
}

.date-container p {
    margin: 10px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.teams-column {
    flex: 1;
    margin-right: 10px;
}

.buttons-column {
    min-width: 200px;
    justify-content: center;
    display: flex;
}

.flex-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}

.flex-content {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

    .flex-content p {
        font-size: x-large;
        margin-bottom: 0;
    }

    .flex-content span {
        font-size: small;
    }
/*con blue*/
.container-blue-header {
    background-color: #1d428a;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 10px 5%;
    display: flex;
    flex-direction: row;
}

    .container-blue-header p {
        font-weight: 600;
        font-size: larger;
        margin: 0;
        margin-right: auto;
    }

.container-blue-footer {
    margin-top: auto;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: #1d428a;
}

.con-footer-row {
    display: flex;
    padding: 10px 10%;
    justify-content: space-evenly;
}

    .con-footer-row p {
        margin: 0;
    }

.con-footer-row-left input {
    width: 100px;
    height: 100%;
    padding: 0 5px;
    background-color: #c2c2c2;
    border: 1px solid black;
    border-radius: 10px;
    font-size: medium;
}

    .con-footer-row-left input:focus {
        outline: none;
        border: 1px solid black;
    }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.totalcourse {
    margin: 0;
    font-size: larger;
    font-weight: 600;
    padding: 10px;
    background-color: darkorange;
    text-align: center;
    border-radius: 10px;
}

.total-winning {
    margin: auto 0;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}

.con-footer-row-right {
    margin-left: auto;
}

.container-blue-overflow {
    overflow: auto;
    padding: 10px;
    max-height: calc(100vh - 200px);
}

    .container-blue-overflow::-webkit-scrollbar {
        display: none;
    }

.bet-button {
    width: 100%;
    max-width: 400px;
    height: 40px;
    background-color: #c2c2c2;
    border: 1px solid black;
    border-radius: 10px;
}

.flex-container-blue {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    background-color: #375dab;
    padding: 10px 15px 10px 40px;
}

.fl-con-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

    .fl-con-header span {
        flex: 1;
        display: flex;
        align-items: center;
    }

.fl-con-content {
    display: flex;
    flex-direction: row;
}

.content-winners-name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

    .content-winners-name p {
        font-weight: 600;
        font-size: x-large;
        margin: 0;
    }

.content-single-course {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .content-single-course p {
        font-weight: 700;
        font-size: x-large;
        margin: 0;
    }

.container-wrapper-MyBets{
    display: flex;
    flex-direction: column; 
    padding: 0;
}

.container-white-MyBets {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    flex: 1;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.container-white-footer {
    margin: auto 0px 0px 0px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: #c2c2c2;
    display: flex;
    justify-content: center;
}
.container-white-header {
    background-color: white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 10px 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.standings-table {
    border-collapse: separate;
    border-spacing: 10px 0px;
}
.flex-content p {
    text-align: center;
}
@media screen and (max-width: 1250px) {
    .nav-logo {
        display: none;
    }
}
@media (max-width: 1000px) {
    
    .container-wrapper {
        flex-direction: column-reverse;
    }

    .container-white {
        width: 100%;
        max-width: none;
    }

    .container-blue {
        position: initial;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .standings-table th{
        font-size: 12px;
    }
    .standings-table td {
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    .flex-container {
        padding: 5px;
    }

    
}
@media only screen and (max-width: 1100px) {
    
    

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

        .nav-menu ul {
            flex-direction: column;
            text-align: center;
        }

    .nav-menu-btn {
        display: block;
    }

        .nav-menu-btn i {
            font-size: 25px;
            color: #fff;
            padding: 10px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            cursor: pointer;
            transition: .3s;
        }

            .nav-menu-btn i:hover {
                background: rgba(255, 255, 255, 0.15);
            }
    .nav-menu ul li .link {
        
        color: black;
        
    }
}
@media only screen and (max-width: 700px){
    .container-white-header {
        padding: 20px;
    }
    .content-container{
        flex-direction:column;
        flex-wrap: nowrap;
    }
    
        .container-white-header h4 {
            font-size: 15px !important;
        }
    .standings-table th {
        font-size: 10px;
    }

    .standings-table td {
        font-size: 10px;
    }
    
}
@media only screen and (max-width: 640px){
    .flex-buttons {
        flex-direction: column;
    }
    .flex-content {
        flex-direction: column;
    }
@media only screen and (max-width: 540px) {
    .nav-button {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }
    .wrapper {
        min-height: 100vh;
    }
    .container-no-wrap {
        overflow-x: auto;
        white-space: nowrap;
    }

    .form-box {
        width: 100%;
        height: 500px;
        margin:auto;
    }

    .register-container, .login-container {
        width: 100%;
        padding: 0 20px;
    }

        .register-container .two-forms {
            flex-direction: column;
            gap: 0;
        }
}
@media only screen and (max-width: 420px){
    .container-white {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 3px;
        border-radius: 15px;
    }
    .flex-container {
        padding: 3px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        z-index: 2;
        opacity: 1;
        border-radius: 15px;
    }
    main{
        margin: 0;
    }
}
