<!----------------------------- Form box ----------------------------------->
<div class="form-box">

    <!------------------- login form -------------------------->

    <div class="login-container" id="login">
        <div class="top">
            <span>Don't have an account? <a href="#" >Sign Up</a></span>
            <header class="header-log-reg">Login</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Username or Email">
            <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password">
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-box">
            <input type="submit" class="submit" value="Sign In">
        </div>
        <div class="two-col">
            <div class="one">
                <input type="checkbox" id="login-check">
                <label for="login-check"> Remember Me</label>
            </div>
            <div class="two">
                <label><a href="#">Forgot password?</a></label>
            </div>
        </div>
    </div>

    
</div>
    


<script>

    function myMenuFunction() {
        var i = document.getElementById("navMenu");

        if (i.className === "nav-menu") {
            i.className += " responsive";
        } else {
            i.className = "nav-menu";
        }
    }

</script>

